.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
.Renviron
data/processed/*
!data/processed/README.md
!/figures
/figures/*
!figures/README.md
!figures/png
figures/png/*
!figures/png/README.md
!figures/png/avo_price.png
!figures/png/car_price.png
!figures/png/commbank_rate.png
!figures/png/ob_cats.png
!/outputs
/outputs/*
!outputs/README.md
.Rproj.user
.Rdata
.httr-oauth
.DS_Store
